<!DOCTYPE html>
<html>
    <head>
        <title>index</title>
        <link src='stylesheet' type='text/css' href='/op_media/shared/common/css/common.css' />
        <link src='stylesheet' type='text/css' href='/op_media/shared/common/css/shared.css' />
        <script type='text/javascript' src='/op_media/shared/js/common.js'></script>
        <script type='text/javascript' src='/op_media/shared/js/shared.js'></script>
    </head>
    <body>
        <img src='/op_media/cdnetworks/common/img/logo.jpg' />
    </body>
</html>