<!DOCTYPE html>
<html>
    <head>
        <title>index</title>
        <link src='stylesheet' type='text/css' href='/static/app/css/common.css' />
        <link src='stylesheet' type='text/css' href='/static/app/css/app.css' />
        <script type='text/javascript' src='/static/app/js/common.js'></script>
        <script type='text/javascript' src='/static/app/js/app.js'></script>
        <script type='text/javascript' src='/static/app/js/another-path.js'></script>
    </head>
    <body>

    </body>
</html>