<!DOCTYPE html>
<html>
    <head>
        <title>index</title>
        <link src='stylesheet' type='text/css' href='/op_media/shared/common/css/common.css' />
        <link src='stylesheet' type='text/css' href='/op_media/shared/common/app.css' />
        <script type='text/javascript' src='/op_media/shared/en-us/js/common.js'></script>
        <script type='text/javascript' src='/op_media/shared/en-us/js/common.js'></script>
        <script type='text/javascript' src='/op_media/app/{{LANGUAGE_CODE}}/js/app.js'></script>
        <script type='text/javascript' src='/op_media/{{entity}}/{{LANGUAGE_CODE}}/js/another-path.js'></script>
        <script type='text/javascript' src='/op_media/media/js/test.js'></script>
    </head>
    <body>
        <img src='/op_media/cdnetworks/common/img/logo.jpg' />
    </body>
</html>